{
    network_dimensions: [784, 200, 50, 10],
    hidden_activation_function: relu,
    output_activation_function: softmax,
    loss_function: cross_entropy,
    learning_rate: 0.01,
    initial_weight_range: [-0.08, 0.08],
    data_source: data/mnist/,
    case_fraction: 1.0,
    validation_fraction: 0.1,
    test_fraction: 0.1,
    batch_size: 100,
    map_batch_size: 100,
    steps: 100000,
    map_layers: [0, 2, 4],
    map_dendrograms: [0, 2, 4],
    display_weights: [1],
    display_biases: [1]
}




